# Telegram
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
 
# Scraper
URL=https://entradas.roigarena.com/roigarena/select/2801703?sessionPreviewToken=AK6G3EN576M3M2OX&viewCode=V_blockmap_view
INTERVALO_SEGUNDOS=60
 